[2020-07-21 15:23] msmygit opened #368 "DSBulk count ignore the --stats.modes partitions in the output"
It appears like this bug has begun happening since `1.5.0` version.

DSBulk `1.3.4` output is as follows,

[code]

whereas DSBulk `1.6.0` (& `1.5.0`) doesn't output the last part where it spits out the partitions in the output,

`1.5.0` output,

[code]

and `1.6.0` output,

[code]

Basically [`--stats.modes partitions` output](https://docs.datastax.com/en/dsbulk/doc/dsbulk/reference/countOptions.h

[2020-07-21 15:32] msmygit opened #369 "DSBulk 1.6.0 count output misses duration information"
When performing a count operation, the duration information is missing from the output. See the below example at this line the duration info is missing `Operation COUNT_20200721-152032-786471 completed successfully in .`,

[code]

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-11) by [Unito](https://www.unito.io)

[2020-07-21 15:47] msmygit commented on #368
This is a non-issue. I mistakenly used `--stats.mode` as opposed to `--stats.modes` (notice the plural modes). `1.6.0` works as intended, (Just wonder how `1.3.4` version was able to interpret the wrong parameter and still work successfully 🤔)

[code]

[2020-07-21 15:47] #368 closed, assigned to nobody

[2020-07-21 22:28] #369 closed, assigned to nobody

[2020-07-21 22:28] adutra commented on #369
DSBulk 1.6.1 will print: `completed successfully in less than one second.`

[2020-07-28 08:15] alexott opened #371 "DSBulk doesn't start if first line of the `java -version` doesn't contain version"
If I have `JAVA_TOOL_OPTIONS` variable set (I need it for some programs), then `java -version` shows following:

[code]

and as result, `dsbulk` fails with following error:

[code]

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-10) by [Unito](https://www.unito.io)

[2020-07-28 09:17] adutra commented on #371
Thanks for reporting this! How urgent is it for you @alexott ?

[2020-07-28 09:19] alexott commented on #371
it's not urgent, as I know workaround right now :-)
I'll make changes

[2020-07-28 10:24] #371 closed, assigned to nobody

[2020-09-11 21:00] jaibheem opened #377 "honor metadata while performing unload and load"
Hello,

I am trying to import the data from one Cassandra cluster to another, however I see the ttl and writetime metadata is not honored. Can we enhance the utility to honor the TTL and Write time values?

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-9) by [Unito](https://www.unito.io)

[2020-10-07 09:09] adutra commented on #377
Hi, preserving TTL and writetime when migrating data from one cluster to another is possible, but requires several steps. Check out [this blog post](https://www.datastax.com/blog/2019/12/datastax-bulk-loader-examples-loading-other-locations), and follow example 30.1.

We have an internal TODO to make this more streamlined for users, but for now, you'll have to go with the procedure described in th

[2020-10-13 21:05] BrandonBordeaux opened #378 "DSBulk interprets newline characters `\n` in text columns and writes multiple lines per record to output file"
When unloading text columns from Cassandra that contain newline character `\n`, the newline will be interpreted and DSBulk will write the row to the output file (CSV) over multiple lines. This is not the desired behavior; it is expected that these newline characters are written out as part of the text column data and the row is contained to a single line in the output file.

For example:

Text Col

[2020-10-14 14:56] bobh66 opened #379 "Disable log directory?"
Is there a way to disable logging to a directory?  I have a "load" use case where I would like to be able to run dsbulk programmatically from a python process, and as it stands I need to specify an execution ID and then remove the log directory after it runs.

It would be helpful to be able to disable logging to a directory so there is nothing left behind to clean up.

Thanks

┆Issue is synchroniz

[2020-10-14 15:41] msmygit commented on #378
Here is the testing that I did for this ticket.

### Table Definition
[code]
### Input CSV file contents. Notice 1st one is quoted and 2nd one isn't
[code]

### DSBulk version
[code]
### DSBulk execution command and output
[code]
### Result from CQLSH
[code]
### DSBulk unload operation activity
[code]
### Output of the unloaded csv files
[code]

### Java Program using Java Driver 4.9.0
I tried to

[2020-10-14 15:46] adutra commented on #379
Hi, that could be a nice enhancement indeed. But just curious: if there is an error, how would you investigate the cause if you can't see the log files?

[2020-10-14 17:20] bobh66 commented on #379
Ideally the error information from mapping-errors.log would print to stderr as logged ERROR messages so that the consuming program can redirect it to it's own logging as needed.  The content of operations.log should go to stdout for the same reason (maybe it already does).

I'm also seeing empty files left behind in the "home" directory with the names of the tables that are being loaded.  It's not

[2020-10-15 09:13] adutra commented on #379
That would be an option, but DSBulk creates many similar files for different kinds of errors. It would be a bit challenging to redirect everything to stderr (garbled contents).

Now that's a first. Could you please give me a simple reproduction case? This is definitely not normal, DSBulk should not write to the home directory at all.

[2020-10-16 20:15] bobh66 commented on #379
I haven't been able to reproduce the empty files issue so it may have been related to some intermittent problems I was having with the process getting killed by out of memory errors.  Now that I have that resolved I'm not seeing any files left behind.

One unrelated question - the project description mentions "2-4x faster" than other bulk tools, is there any way to know what that should translate

[2020-12-09 14:23] adutra commented on #378
This has been discussed internally and it appears there was just some misunderstanding about how newline characters are processed by CQLSH and DSBulk. All is good now.

[2020-12-09 14:23] #378 closed, assigned to nobody

[2020-12-09 14:23] adutra commented on #377
@jaibheem is it working for you now? Can we close this?

[2020-12-22 22:22] jaibheem commented on #377
yes, thank you

[2020-12-22 22:22] #377 closed, assigned to nobody

[2020-12-22 22:29] jaibheem opened #381 "Dsbulk load fails with larger dataset"
Hello Team,

I am trying to migrate Cassandra data from one cluster to other cluster using DSBulk, this works fine when the dataset is smaller but when I am trying to load the data with ~900G into the target cluster it just fails with the below exception.

[code]

I tried to tune the target cluster with several resources, but no luck. Is there anything I am missing or is there anyway to tune the w

[2021-01-19 18:00] jaibheem opened #382 "DSBulk load fails when the primary key column is empty"
Hello Team,

I am trying to load a data file into the Cassandra cluster and running into error if the one of the Primary key column is empty. Is there any option/way to safely insert these entries? I read the documentation that it's not possible but can we somehow fill these values to a null value during the Unload operation itself, so the load can happen?

[code]

I can easily achieve this with t

[2021-01-21 14:44] adutra commented on #382
Hi, have you tried `dsbulk.codec.nullStrings` ?

https://docs.datastax.com/en/dsbulk/doc/dsbulk/reference/codecOptions.html#codecOptions__dsbulkCodecOptionsNullStrings

[2021-01-22 23:37] jaibheem commented on #382
yes I tried that  but it did not help and I believe this is the correct syntax? `--dsbulk.codec.nullStrings scope` where scope is my primary key column name.

[2021-01-29 00:34] jaibheem opened #383 "DSBulk fails to load blob values"
Hello Team,

I am trying to unload and load blob values from one cluster to another cluster using dsbulk: 1.7.0 but I see the issue during the import.

after the import when I check the data fro cqlsh I see the below errors.

     tid      | val
    ---------------
     abc12347 |       '\xac\xed\x00\x05sr\x00\x10java.lang.Double\x80\xb3\xc2J)k\xfb\x04\x02\x00\x01D\x00\x05valuexr\x00\x10java.lang.

[2021-01-29 18:21] adutra commented on #382
No that's not how it works :-)

The argument you pass is the value that will be printed out for _every_ null column in the result set. E.g. `--dsbulk.codec.nullStrings THIS_COLUMN_WAS_NULL` would produce something like:

[code]

Let me know if that helps!

[2021-01-29 18:57] adutra commented on #383
Hi thanks for reporting this.

Please note that DSBulk is not compatible with CQLSH COPY. Each tool formats and parses CSV data differently and you should never expect that the output produced by one tool will work if used as the input for the other tool.

Would you mind giving me a full example to reproduce the problem? The snippet you gave is not clear enough as I don't understand if this is exp

[2021-02-09 12:32] adutra commented on #383
@jaibheem were you able to fix your issue?

[2021-02-16 15:06] adutra commented on #383
Closing as we didn't hear back from the reporter.

[2021-02-16 15:06] #383 closed, assigned to nobody

[2021-03-11 16:03] adutra commented on #382
Hi @jaibheem can we close this one?

[2021-03-22 00:30] ibeatmybrothers commented on #378
Hi @adutra I see this issue still present in version 1.7 and 1.8 running against a 5.1.14 cluster. Cqlsh COPY TO command will copy the exact contents, but the dsbulk unload command will interpret or omit escaped characters, such as \0xf and \r\n when present in a text column.

[2021-03-22 14:13] adutra commented on #378
Hi @ibeatmybrothers do you have a reproducer? Because we discussed this internally and I wasn't able to see any defect in how DSBulk exports such characters. Thanks!

(Note: the example reported above by @msmygit did not contain actual line breaks, but only escaped `\n` sequences. These are not converted by DSBulk in any way)

[2021-03-22 14:18] adutra commented on #381
Hi @jaibheem sorry this escaped my attention.

This error: `DriverTimeoutException: Query timed out after PT5M` suggests that the cluster did not respond in 5 minutes to a write request, which is enormous.

This is probably a sign that the cluster was down, overloaded, or unreachable. Please check the server logs to understand better what happened.

If the cluster was overloaded, you should try re

[2021-04-29 07:25] jaibheem commented on #383
sorry for the late response. finally I was able to figure out the issue, posting it here so it can be useful for others. DSBulk was able properly unload and load the blob data. I confirmed that by testing my application pointing both the clusters. However the issue I reported is mainly a Python bug. Earlier I was using a cqlsh from python-pip and later I switched to the correct version of Cqlsh th

[2021-05-20 14:37] graziella79 opened #385 "load csv with date field"
I need to upload a csv file which contains a date field in yyyyMMddHHmmss format: example(20210515031117).
The field will be mapped to a cassandra table with timestamp type.
I ran the dsbulk command adding the option --codec.date 'yyyyMMddHHmmss' but it doesn't work

This is the error:
com.datastax.oss.dsbulk.workflow.commons.schema.InvalidMappingException: Could not map field call_date to variabl

[2021-05-20 15:53] adutra commented on #385
Hi the correct setting for timestamp type is `--codec.timestamp`.

[2021-05-20 15:53] #382 closed, assigned to nobody

[2021-05-20 15:54] adutra commented on #381
Hi @jaibheem were you able to fix your problem? Thanks!

[2021-05-27 21:54] jaibheem commented on #381
@adutra Thanks for the follow-up, I tried the suggestion but I couldn't really figure what's going on. But I see `-maxErrors` are set to 100 default and the load fails when there are 100 errors. I may need to investigate more to find where the bottleneck is.

I will close the issue for now

[2021-05-27 21:54] #381 closed, assigned to nobody

[2021-05-31 08:37] #385 closed, assigned to nobody

[2021-05-31 08:49] graziella79 opened #386 "Split timestamp into date and hour"
Hello,
I need to load into cassandra a csv file with a date string yyyyMMddHHmmss and I need to split this string into two separate columns:
1)datetest : yyyyMMddHHmmss
2)partition_id : yyyyMMddHH
Example:
(input csv)
aaaa|bbbb|20210531041034

(table cassandra)
table test(A text, B text,  datetest text, partition_id text)
--->('aaaa','bbbb,20210531041034,2021053104)

Is it possible with dsbulk?
Th

[2021-06-01 10:08] adutra commented on #386
Hi @graziella79 unfortunately that's not possible :-(

While it is possible to store one CSV field in two columns, this will only work if the two columns have the same pattern.

If you need different patterns, you will have to transform your CSV file first, then load it with dsbulk.

I think you could transform you file very easily with sed for example:

[code]

[2021-06-07 08:27] adutra commented on #386
@graziella79 are you OK to close this one?

[2021-06-07 08:51] graziella79 commented on #386
Thank you so much for your answer!

[2021-06-07 08:52] #386 closed, assigned to nobody

[2021-07-21 23:20] kdhingra1990 opened #387 "test_karan"
testing unito integration

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-1) by [Unito](https://www.unito.io)

[2021-07-21 23:28] #387 closed, assigned to nobody

[2021-07-21 23:28] kdhingra1990 commented on #387
close / test

[2021-07-23 14:41] feedhandler opened #388 "Can't find auth-provider class"
Hi,
I'm trying to use advanced.auth-provider.class=software.aws.mcs.auth.SigV4AuthProvider but dsbulk can't seem to find the class. It fails with error

[code]

I've tried putting the jar file in a variety of locations (lib dir, conf dir, etc) but it didn't help
Any idea how to fix this?
Thanks

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-13) by [Uni

[2021-08-06 09:02] feedhandler opened #389 "How to prevent "Adjusted frame length exceeds XXX" errors"
Hi,

I get some errors from dsbulk unload like this:

[code]

It looks like the query result has exceeded the native_transport_max_frame_size_in_mb limit (256MB)

Is there a dsbulk config setting I can change that will reduce the size of the results from that query (and hopefully prevent that error) ?

Thanks

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/B

[2021-08-09 18:00] feedhandler commented on #388
Thanks, I already tried that but it didn't work. How do I turn this ticket into a Bug? I don't see any options to do that...

[2021-08-26 15:48] paayers opened #390 "Feature request to allow DSBulk to utilize sstabledump output for INSERT/DELETE operations"
I've had quite a few people now that end up in a place where they've either accidentally deleted data that they needed to quickly get back, or they've resurrected data for a particular key that they need to quickly delete.
If DSBulk had the ability to process sstabledump data (would have to be live or tombstoned) then we would have a tool available to quickly rectify potentially costly mistakes.

[2021-09-13 15:55] lucboutier opened #391 "Unloading/Reloading list STATIC column is not idempotent."
When there is a list static column and X different unique records the elements of the STATIC columns are multiplied by X.

This seems to be because of INSERT statements generated that does not override the field value but append the data.
In case of the STATIC column that is re-inserted for each record this is a wrong behavior that BTW does not occur with the cqlsh tool (which has other issues).

[2021-09-29 01:47] dogatuncay opened #392 "Fails to convert BigDecimal to Double"
Cannot import data due to conversion from BigDecimal to Double failure. Dropping decimals isn't an option.

![](https://user-images.githubusercontent.com/1162616/135189056-8c8d10d0-48a7-4ea9-be11-db5c370ecd5d.png)

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-17) by [Unito](https://www.unito.io)

[2021-09-29 08:56] adutra commented on #392
Maybe you shouldn't be storing those numbers as Double in the first place? Double is inherently lossy. If you can't afford losing precision, use the Decimal CQL type instead.

[2021-11-04 09:35] smatvienko-tb opened #394 "Count does not print any results after 2 hours, 2 failures, 6.5B rows."
Hi!
I faced an issue that COUNT does not print any results after 2 hours, 2 failures, 6.5 billion rows.
Here is my PR as a proposal how to fix this issue https://github.com/datastax/dsbulk/pull/393
![image](https://user-images.githubusercontent.com/79898499/140290765-a18db6a2-7f7e-4937-a7c7-9934fa0444f4.png)
Thank you!

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.ne

[2021-11-04 10:09] smatvienko-tb opened #395 "Unload failed after 10 hours normal flight, 4.8B from 6.3B uploaded: Unable to perform authorization of permissions: Unable to perform authorization of super-user permission: Operation timed out - received only 0 responses"
Hi guys!

dsbulk is awesome. Thank you for your effort.
My unload failed after 10 hours of normal flight:

![image](https://user-images.githubusercontent.com/79898499/140291126-138a4a58-f4c9-4aa4-8fb2-7aad6ef17db3.png)

I found the [suggestion](https://community.datastax.com/questions/10700/unable-to-perform-authorization-of-super-user-perm.html) to fix the replication factor for system_auth. But

[2021-11-04 10:42] smatvienko-tb opened #396 "Count/unload a range of tokens: start token, end token"
Hi guys!
For big workloads that take hours (days), it is good to be able to count/unload a range of tokens.
The aim is to split a huge task into smaller pieces, fit in maintain time-window, etc.
Another benefit is to be able to resume failed (for any reason) upload from some point (a token that found in upload-errors.log)

`SELECT * FROM thingsboard.ts_kv_cf WHERE token(entity_type, entity_id, key

[2022-01-11 14:05] makeable opened #397 "Can't import empty string if it is part of partition key"
I have some records that contain an empty value for certain columns on the partition key. This is perfectly valid as far as I am aware. Unfortunately, they cannot be loaded by dsbulk (from csv).

They raise the following error:

[code]

It seems that the csv connector treats empty non-quoted fields as nulls (even though the export itself was performed by dsbulk), so I force the csv connector to tr

[2022-01-17 21:02] adutra commented on #397
Hi @makeable, empty strings are not allowed on partition key columns, however they are allowed on clustering columns and on regular columns:

[code]

DSBulk will detect if a CSV field mapped to a partition key column is empty and will prevent that row from being loaded, since it is an invalid one. However, it should allow empty fields to be mapped to other column types.

If you think DSbulk is not

[2022-01-17 21:06] adutra commented on #396
I agree that this would be very useful, but unfortunately it is not implemented yet.

However there is a simple workaround: use the `-query` parameter and provide the entire query, including a WHERE clause, e.g.:

[code]

This is usually easily scriptable.

[2022-01-31 16:35] adutra commented on #397
Closing to avoid stale issues. Feel free to reopen if you have further questions. Thanks!

[2022-01-31 16:35] #397 closed, assigned to nobody

[2022-02-03 23:20] DavidTaylorEmberex opened #398 "Support reading records from AWS S3."
### Feature Request
**Scenario:** We have a large number of records stored in an AWS S3 bucket, and we would like to get them into Cassandra.

**Problem:** `dsbulk` does not support reading from `s3://` URLs, so we tried using `aws s3 cp <url> | dsbulk load <...>` , but this approach was cumbersome and only allowed loading a single file at a time. (Due to the properties of the system writing these

[2022-02-03 23:21] DavidTaylorEmberex commented on #398
I have actually almost completed this feature, and plan on submitting a PR soon. :)

[2022-02-10 22:59] adutra opened #400 "Add ability to unwrap BATCH queries"
A BATCH query is usually required in order to load a record containing TTL and TIMESTAMP information for individual columns. This is exactly what happens when the load operation is configured with `-ttl` and/or `-timestamp`.

When the query used for loading is a BATCH query, currently DSBulk 1.8 disables its own batching mechanism, to avoid nesting BATCH statements inside protocol-level BATCH mess

[2022-02-11 22:05] adutra commented on #389
Hi @feedhandler if you are encountering this error when reading, you could first try to reduce the page size. The default is 5000 rows. You can change this value with `--driver.basic.request.page-size 1000` for example.

If that does not work, then you can also increase the maximum frame length. Beware that this needs to be done both in DSBulk and in Cassandra, so that client and server have the s

[2022-02-14 09:02] feedhandler commented on #389
ok, thanks. I will try that.

[2022-02-14 09:02] #389 closed, assigned to nobody

[2022-02-16 16:48] StevenLacerda opened #402 "Upload dsbulk to Maven Central"
Some customers have security rules in place that will not allow them to download packages without prior approval. There are loopholes, and in this case the security rule loophole allows maven repo download without prior approvals. Can a workflow be created to have dsbulk added to maven?

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-24) by [Unito](http

[2022-02-16 17:54] adutra opened #403 "Exclude unsupported types from automatic timestamp and TTL preservation"
Currently when unloading using the options `-timestamp` or `-ttl` (to automatically preserve cell timestamp and TTL) the operation will fail if the table being unloaded contains collections.

With OSS Cassandra, the operation fails right away because the generated query is invalid. The selector functions `writetime()` and `ttl()` cannot be applied to collections (even frozen ones, see [CASSANDRA-1

[2022-02-16 17:55] adutra commented on #403
Note that DataStax (private) project ZDM (Zero Downtime Migration) already excludes such columns. We may simply reuse some code from that project.

[2022-02-18 21:47] adutra opened #405 "Add support for Prometheus"
DSBulk is already well instrumented, but it only exports its metrics to JMX and CSV files.

It would be good if it could export metrics to Prometheus as well.

I am not thinking about replacing Dropwizard with another metrics framework, I am only thinking about exposing the existing Dropwizard metrics to Prometheus. It turns out there is a [Prometheus exporter](https://github.com/prometheus/client

[2022-02-22 21:20] adutra commented on #403
I have an implementation for this: #407

However I gave up on the idea of intercepting lists of timestamps and TTLs on the fly. Not only it's extremely complex to implement, but it might not be desirable to use the same timestamp or TTL for all the elements in the collection.

Also note: it appears that it is also not possible to export timestamp and TTL for non-frozen UDTs. It's been taken care o

[2022-02-24 17:16] adutra opened #409 "Re-enable Cassandra 4.0 in CI and fix failing tests"
We must re-enable Cassandra 4.0 and fix all the partitioner tests. They are currently failing with 4.0 for unknown reasons.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-27) by [Unito](https://www.unito.io)

[2022-02-24 18:28] adutra commented on #409
It turns out it could be a problem with how CCM is enabling vnodes in Cassandra 4.0. Upgrading the ccm version might solve  it.

[2022-02-24 20:53] adutra commented on #409
Confirmed that the problem is vnodes:

[code]

Observe the broken token ownership and that one node is not showing up at all.

The public version of CCM does not have the issue, but the private version used at DataStax does. We are working on updating our Docker images to use the public version.

[2022-03-28 08:03] adutra opened #411 "Don't check for emptiness of primary key columns"
DSBulk currently checks if a primary key column in a record is null or empty. If it is, the record is not even sent to Cassandra.

Unfortunately the check is not 100% accurate for the emptiness part:

1. The BLOB type accepts empty buffers in any primary key column, contrary to what DSBulk currently assumes.
1. A composite partition key also accepts empty blobs or strings (whereas a single-column

[2022-04-01 08:56] #400 closed, assigned to nobody

[2022-04-01 08:57] #405 closed, assigned to nobody

[2022-04-01 09:25] adutra opened #412 "Add support for nested function in mappings"
Currently the following is disallowed by the mapping grammar:

[code]

Indeed the grammar rule for function arguments is:

[code]

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-29) by [Unito](https://www.unito.io)

[2022-04-01 09:36] #403 closed, assigned to adutra

[2022-04-01 10:26] msmygit commented on #412
Here is my example:
[code]

I've a very simple table

`CREATE TABLE db3.dsbulk ( a int PRIMARY KEY, b date);`  in AstraDB.

When I try to run the following:

`./dsbulk load -k db3 -t dsbulk -url dsblk.csv -header false -m "0 = a, CurrentDate() = b" -u ABC -p ZYZ -b SCB.zip` I get an error of `Operation LOAD_20220401-101417-525034 failed: Unknown function CurrentDate called`

My input csv just this

[2022-04-01 11:04] #402 closed, assigned to adutra

[2022-04-01 11:59] adutra commented on #412
Try `currentdate()`: function names in DSBulk mappings are supposed to be in internal form, and I suspect the internal form for this function is simply `currentdate`.

[2022-04-01 12:01] adutra commented on #412
Confirmed:

[code]

[2022-04-01 12:04] adutra commented on #391
Hi @lucboutier sorry I completely missed your post.

Indeed loading / unloading tables with static columns is tricky. We suggest doing each operation (load or unload) in 2 passes: one pass to load/unload the non-static values, and another pass to load/unload the static ones.

See here for more:

https://docs.datastax.com/en/dsbulk/doc/dsbulk/dsbulkLoadingStaticData.html

Let me know if that helps.

[2022-04-01 12:07] msmygit commented on #412
Using `currentdate()` form worked. Thank you @adutra ! 👍🏼

[2022-04-01 12:12] msmygit commented on #412
Curious, where in the code one could see all the DSBulk internal forms for native functions?

In Astra DB CQL Console:
[code]

[2022-04-01 12:29] adutra commented on #412
Re: function names in Cassandra, most (all?) built-in functions are actually fully lowercase in internal form. Because CQL forms are case-insensitive, the function `currentdate` can be written `currentDate` or `CurrentDate` or even `CuRrEnTdAtE` – all of these names are reduced to `currentdate`. The docs usually chose a camel-case CQL form for a better readability.

However DSBulk mapping syntax i

[2022-04-04 07:00] adutra opened #415 "Add support for literals in mappings"
DSBulk currently doesn't allow literals in mappings outside of function args. We could extend support for literals to allow things like:

[code]

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-30) by [Unito](https://www.unito.io)

[2022-04-04 13:27] #412 closed, assigned to nobody

[2022-04-04 13:27] #411 closed, assigned to adutra

[2022-04-05 08:44] #415 closed, assigned to adutra

[2022-04-16 09:42] nhtha opened #417 "a bug when unload to csv"
dsbulk may have a bug, when unload a big table to csv, some records breaked into 2 lines, so ít causes errors when import to another database.
Please take a look and fix this.
Many thanks,
Ha Nguyen

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-31) by [Unito](https://www.unito.io)

[2022-04-19 07:54] nhtha opened #418 "Can't unload keyspace dse_audit"
dsbulk may have bugs, I received error "Operation UNLOAD_20220419-073654-099023 failed: Keyspace dse_audit does not exist." when I tried to unload table dse_audit.audit_log. Using cqlsh or another cassandra client tool, I can query this table normaly.
Please take a look and fix this.
Many thanks,
Ha Nguyen

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK

[2022-04-19 14:14] adutra commented on #418
Hi @nhtha this is because by default the driver does not load metadata for DSE keyspaces.

You can change that by setting the following option :

[code]

[2022-04-19 14:17] adutra commented on #417
Hi @nhtha this is because some rows in Cassandra contain a line break. In this case, the line break is reproduced in the CSV file.

If your import tool is not capable of handling that, the only thing you can do is identify the rows that contain line breaks and remove the line breaks manually.

[2022-04-19 14:18] adutra commented on #417
Other than that, if you still think there is a bug in DSBulk, please attach a reproducible test case containing: the table schema, the table contents, and the obtained CSV file. Thanks!

[2022-04-20 08:21] nhtha commented on #418
Thank you, it's works.

[2022-05-01 21:03] makeable commented on #397
@adutra Sorry for delayed response. I ended up using a custom tool to import. Empty strings ARE allowed on partition key columns as part of a composite key.

[2022-05-10 15:11] adutra commented on #397
Hi @makeable indeed there are cases where empty strings or blobs are accepted on partition key columns.

This was fixed by https://github.com/datastax/dsbulk/issues/411 and released in DSBulk 1.9.0.

If it's not too late, try it out and let us know if that fixes your problem. Thanks!

[2022-05-10 16:50] adutra commented on #418
Glad to hear that! Closing then.

[2022-05-10 16:50] #418 closed, assigned to nobody

[2022-05-12 13:13] jnorcross opened #419 "DSBulk's option for "ansiMode" doesn't work"
Tried to utilize the ansiMode options as documented here: https://github.com/datastax/dsbulk/blob/d9107caf9a4a286c06d8e8f089e18d4e798993a2/manual/settings.md#log
--dsbulk.log.ansiMode
--log.ansiMode

However, neither option appears to have any effect on the color scheme that is given as output.

Test #1 running dsbulk in a windows command:
![image](https://user-images.githubusercontent.com/5283428

[2022-05-12 13:36] jnorcross commented on #419
Looking through the code.  The option appears to be 'disabled' not 'disable'.  It also appears that only '--log.ansiMode' is supported and '--dsbulk.log.ansiMode' is not.  So maybe the documentation is wrong and needs to be updated?  'force' option was still not generating ANSI colors though when using a redirected stream through a windows command process invoked with C#.

[2022-05-16 19:41] makeable commented on #397
Thanks @adutra. Too late for this project, but ill check it out when i do some more generic loading.

[2022-05-24 12:41] adutra commented on #419
Hi @jnorcross thanks for reporting this.

1. The right value is `disabled` indeed, not `disable` – this is a typo in the docs and I will get it fixed asap.
2. You are right, `--dsbulk.log.ansiMode` has never been supported – this is a bug and I will also fix it soon.

I am not sure how I can help here (I'm not familiar with Windows or C# at all) but I'll investigate.

[2022-05-25 16:09] r3econ opened #421 "Getting java.lang.OutOfMemoryError: Java heap space exception"
I'm trying to load data to Astra and I'm getting an error. I've got around 5000 objects that I unloaded using the `dsbulk 1.9.0` into a csv file. Now, when I try to load them into Astra I'm getting a `java.lang.OutOfMemoryError`. Some data, before the exception happens, gets successfully uploaded and I can see it in the database - around 120 items.

What could be the cause?

Here's how I invoke th

[2022-05-27 10:37] nicoloboschi opened #422 "Upgrade esri-geometry-api to 2.x to get rid of JSON 20090211 and SONATYPE-2022-3061"
Sonatype scan says that the codecs-api project is using 1.21 which contains `org.json:json:20090211` which has a critical vulnerability.
Starting from 2.0 esri-geometry-api doesn't carry the JSON dependency anymore.
https://github.com/Esri/geometry-api-java/releases/tag/v2.0.0

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-35) by [Unito](https://www.un

[2022-05-27 10:38] nicoloboschi commented on #422
@adutra PTAL, this is needed to make a couple of Streaming projects pass the Sonatype Security Scan

[2022-05-27 10:57] adutra commented on #422
@nicoloboschi I we can't use ESRI 2. DSE itself is still using ESRI 1 and so upgrading any client to ESRI 2 would be not only complex, but would probably break everything related to geotypes.

I can, however, upgrade `org.json`. In fact I was exactly crafting a PR for that. I will open it today.

[2022-05-27 11:08] adutra commented on #422
BTW if you don't need geotypes in your project, you can just get rid of ESRI and its transitive dependencies. DSBulk and the driver can live without them.

[2022-05-27 11:46] nicoloboschi commented on #422
We're still using dsbulk 1.6.0. We use it for cql conversion types. Do you think it'd safe to only upgrade JSON to `20220320` keeping dsbulk-codecs to 1.6.0 ?

[2022-05-27 11:57] adutra commented on #422
Yes you can do the json upgrade in your project. This should be enough to get rid of the security alerts.

[2022-05-27 13:21] adutra commented on #421
Hi @r3econ, thanks for reaching out.

How big are the rows you are trying to load? Given that you use `--connector.csv.maxCharsPerColumn -1` I suppose they are quite large.

When dealing with large rows: here are some things that work:

* Throttle DSBulk; this is best done by setting `--engine.maxConcurrentQueries X` where X is a small number: start with 1, if it works, that's great but the throug

[2022-05-27 13:46] #422 closed, assigned to nobody

[2022-05-28 09:08] #419 closed, assigned to nobody

[2022-05-28 09:30] adutra commented on #392
Closing due to inactivity.

[2022-05-28 09:30] #392 closed, assigned to nobody

[2022-06-01 12:17] adutra commented on #388
Hi @feedhandler I finally had some time to investigate this.

The problem is that adding the jar `aws-sigv4-auth-cassandra-java-driver-plugin-4.0.6.jar` only is not enough. It has a bunch of dependencies and you need to add them as well:

[code]

Let me know if this helps!

[2022-06-01 15:25] adutra opened #424 "Add debug verbosity level"
Issues like #388 would be much easier to diagnose had we had a debug verbosity level, as the root cause would have been printed.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-36) by [Unito](https://www.unito.io)

[2022-06-01 15:27] adutra commented on #391
Closing due to inactivity.

[2022-06-01 15:27] #391 closed, assigned to nobody

[2022-06-01 15:27] adutra commented on #394
Fixed by #393.

[2022-06-01 15:27] #394 closed, assigned to nobody

[2022-06-01 16:42] adutra commented on #421
You can also add `--dsbulk.log.sources false` to lower the heap pressure.

[2022-06-01 17:52] adutra opened #425 "DSBulk operation cannot be closed when read result counter is null"
If a count operation fails before the read result counter is created, the operation won't be closed properly because of a NullPointerException in CountWorkflow.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-37) by [Unito](https://www.unito.io)

[2022-06-02 08:46] #425 closed, assigned to nobody

[2022-06-02 13:30] #424 closed, assigned to adutra

[2022-06-05 19:06] SuchithArodi opened #428 "dsbulk load requires MODIFY permission to load the data"
./dsbulk --version
DataStax Bulk Loader v1.9.0

./dsbulk load -url /tmp/unload/requests -k KS -t TABLE  -h IP1 -u USERNAME -p PASSWORD --connector.csv.maxCharsPerColumn -1
Username and password provided but auth provider not specified, inferring PlainTextAuthProvider
Operation directory: /tmp/dsbulk-1.9.0/bin/logs/LOAD_20220605-183958-188792
[driver] /IP2:9042 did not send an authentication challe

[2022-06-05 21:04] adutra commented on #428
Hi @SuchithArodi thanks for reporting this.

It's not DSBulk that needs such permissions, it's Cassandra itself. Check database roles and permissions here:

https://cassandra.apache.org/doc/latest/cassandra/cql/security.html

As you see in the table, the MODIFY permission is required to execute INSERT statements.

[2022-06-06 16:03] adutra opened #429 "Produce a positions file when unloading / counting"
This file would contain the ranges that were successfully unloaded.

This could then serve as the foundation for the long-awaited feature of resuming partially failed unloads.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-39) by [Unito](https://www.unito.io)

[2022-06-07 17:47] SuchithArodi commented on #428
Thanks for the clarification @adutra

[2022-06-11 17:18] adutra commented on #429
FYI I'm leaning towards re-using the same file produced when loading. This requires fewer changes and is more robust since the file produced when loading is battle-tested.

[2022-06-11 17:37] adutra opened #431 "Ability to resume a failed operation"
This has been asked a few times:

* #395
* #396
* [DAT-324](https://datastax.jira.com/browse/DAT-324)

This is finally going to be possible for all workloads thanks to the work under review for #429 (see #430).

With the new summary.csv file being produced for all operations, we now must add a new option to resume a failed operation by parsing that file and and only re-attempting the resources tha

[2022-06-13 21:16] adutra commented on #428
Thanks @SuchithArodi. I'll go ahead and close this issue.

[2022-06-13 21:16] #428 closed, assigned to nobody

[2022-06-13 21:16] adutra commented on #421
Any updates on this @r3econ ?

[2022-06-15 08:41] r3econ commented on #421
Yes, thanks for the info. I managed to get it working by tweaking the params

[2022-06-15 11:28] adutra commented on #421
Glad to hear! Let's close this issue then.

[2022-06-15 11:28] #421 closed, assigned to nobody

[2022-06-15 20:46] feedhandler commented on #388
Thanks for looking into it. Unfortunately I'm no longer working with cassandra so I won't be able to try this.

[2022-06-15 20:47] #388 closed, assigned to nobody

[2022-06-21 12:30] #429 closed, assigned to adutra

[2022-06-21 12:31] adutra commented on #431
The preparatory work (see #429) is now done and merged. I will try to start working on this asap.

[2022-07-01 11:36] adutra opened #433 "Reject invalid options"
See https://stackoverflow.com/questions/72724229/how-do-i-limit-the-files-generated-by-dsbulk-unload-to-just-one-csv-file for context.

We should reject invalid DSBulk options. Since all options are defined in the reference files, it's doable.

Unfortunately we can't do the same for driver options, because the driver reference files do not contain defaults, and because the driver accepts an infini

[2022-07-27 18:14] weideng1 opened #435 "Auto-detect and accommodate AstraDB server-side rate-limit situation"
We need a way for dsbulk to auto-detect if the remote end is AstraDB, and if it is, apply a default ingestion rate that's more inline with the remote end's capacity.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-42) by [Unito](https://www.unito.io)

[2022-07-28 15:33] adutra commented on #435
For the record, when the limit is reached DSBulk stops with too many errors:

[code]

In load-errors.log we typically find a `BulkExecutionException` wrapping an `AllNodesFailedException` containing this kind of error:

[code]

[2022-07-28 17:37] #435 closed, assigned to adutra

[2022-07-29 11:46] adutra opened #438 "Ability to limit throughput in bytes per second"
This came as a follow-up to #435: we currently have the ability to limit throughput in ops/second, but we don't have the ability to limit it in bytes/sec.

And yet all the required bits are present: we already have a `DataSizes` class that is used to track statement and row sizes in two situations: when batching by data size, and when reporting rates in bytes/sec.

┆Issue is synchronized with this

[2022-08-04 10:14] #438 closed, assigned to adutra

[2022-08-04 13:02] adutra opened #440 "Properly close files when unload is interrupted"
This bug was discovered while working on #432: when an unload operation is interrupted, connector files might not be properly flushed and closed.

This is due to a flaw in `AbstractFileBasedConnector#close`: the code iterates over the pool of writers and closes all writers in it.

However since this is a pool, it could be empty, or only contain a subset of all writers, because the operation may be

[2022-08-04 14:29] #440 closed, assigned to adutra

[2022-08-08 08:50] adutra commented on #431
I was seeing some inconsistent results with unload using this feature. It turns out it was due to #441. With that fix in, my local testing has been conclusive and I'm now about to start a global performance test campaign to compare 1.10 with 1.9.

[2022-08-09 09:14] adutra opened #442 "Add timestamps to debug files"
The "debug" files (all files named xyz-errors.log) are generated by DSBulk directly (see LogManager). Contrary to the main log file operation.log, these files are not hndled by logback, and as a consequence, do not print a timestamp for each error. It would be useful to have a timestamp printed for each error.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/

[2022-08-09 19:46] weideng1 opened #443 "Handle write timeouts more gracefully with retries"
Currently dsbulk sets a very generous timeout allowance (5-minutes) for write request timeouts, but if an insert statement still times out after 5 minutes, this particular insert will simply be marked as a failed operation, and there is no attempt to retry this write operation to minimize the number of failed operations.

All data from failed writes will be recorded in `load.bad` file, no matter i

[2022-08-09 20:31] weideng1 opened #444 "Display bug in console metrics reporter for the number of failed operations"
After finishing a long-running (16 hours+) job, we got the following output:

[code]

There is a discrepancy between the reported number of failed records in the table (0) and the 76 errors in the final summary.

From the following `operations.log` you can see the discrepancy as well.

[code]

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-47) by [Unito

[2022-08-10 08:38] adutra commented on #444
Indeed when loading, the number of failed records wasn't being incremented when the failure was due to a failed write statement execution. That specific counter is exposed as `records/failed` in the metrics registry, and is consumed by 2 reporters: the console reporter, and the records reporter. This counter is not used by the writes reporter though, which uses a different, but similar one. This e

[2022-08-10 10:12] adutra opened #447 "DSBulk's rate limiter is not compatible with speculative executions"
By default, both rate limiting and speculative executions are disabled in DSBulk.

If both are enabled, we observed that, _when writing and from the server's perspective_, the rate limit is not honored.

This is because rate limit permits are acquired _per row written_. More specifically, each call to `session.executeAsync()` will need to acquire permits.

If the request is retried internally by t

[2022-08-10 12:19] adutra opened #448 "Implement application-level retries"
The transition from driver 3.x to driver 4.x a while ago in DSBulk 1.5.0 brought one unexpected consequence: client-side timeouts are now global to the whole statement execution. The [driver docs](https://docs.datastax.com/en/developer/java-driver/4.14/upgrade_guide/#statements) say:

What the docs don't say is that because the timeout is global to the `session.execute` call, _timeouts are not ret

[2022-08-10 12:19] adutra commented on #447
Issue for application-level retries: #448.

[2022-08-10 12:40] adutra commented on #447
Java driver issues for improving built-in throttling:

[JAVA-3036 Expose request in Throttled API](https://datastax-oss.atlassian.net/browse/JAVA-3036)
[JAVA-3037 Apply throttling to retries and speculative executions](https://datastax-oss.atlassian.net/browse/JAVA-3037)

[2022-08-10 14:25] adutra commented on #447
I'd note that Guava's RateLimiter is currently invoked inside Reactor operators and/or (for reads only) also in driver I/O threads: both are bad practices. So all in all, we are already drowning in muddy waters wrt to using blocking code in non-blocking contexts.

[2022-08-10 18:23] phact opened #449 "Unload big partitions: automatically tune schema splits and ops per second on retry for timeouts"
Users dumping entire tables often hit timeouts when they reach large partitions. The solution is to manually tune splits and throughput until the unload works but this is very time consuming and error prone.

Would be great if dsbulk could handle this common scenario by itself.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-50) by [Unito](https://www.u

[2022-08-10 19:18] adutra commented on #449
Related: #448.

[2022-08-10 19:19] adutra commented on #448
Duplicate of #443, sorry for that.

[2022-08-10 19:24] adutra commented on #449
I don't think tuning splits would make a big difference, and btw, that's near impossible since the splits determine how many taken ranges are going to be read, so this happens at a very early phase.

But tuning throughput, yes, definitely. Probably based on latencies, and probably governed by a high/low watermark system.

[2022-08-11 04:08] weideng1 commented on #443
closed as duplicate to #448

[2022-08-11 04:08] #443 closed, assigned to nobody

[2022-08-11 12:30] adutra opened #450 "Revisit unrecoverable errors"
LogManager has a method to determine whether an error associated with a processed item is "unrecoverable".

This method should imho be completely revisited. E.g. it is considering OverloadedException as unrecoverable, but it arguably is in most cases.

We should instead proceed as follows:

* For malformed records, mapping errors, and load errors: the error is always recoverable since it affects o

[2022-08-11 16:48] phact commented on #449
It does. This is how I've had to do things many times when dsbulk unload fails.

The reason is usually a big partition, smaller splits can help it actually finish. Sometimes if that doesn't do the trick we end up having to bisect the range around it and then throttle.

[2022-08-11 17:58] adutra commented on #450
Update: actually, it's probably best to take the opposite direction: every error captured as an `ErrorRecord`, `UnmappableStatement`, or unsuccessful `Result` should be recoverable, including range read failures.

For unloads, this means we keep the current behavior of reading the remaining token ranges. With the resume-failed feature (#432), it will be very easy to resume and only read the failed

[2022-08-12 10:14] #444 closed, assigned to adutra

[2022-08-12 18:38] #431 closed, assigned to adutra

[2022-08-15 05:10] weideng1 opened #451 "checkpoint file is generated regardless of job successful or not"
Using the latest dsbulk-1.10.0, I observed the following:

[code]

Basically no matter if the job is successful or not, checkpoint.csv is always generated and printed out at the end. This can cause confusions to the end users.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/BULK-52) by [Unito](https://www.unito.io)

[2022-08-15 16:47] weideng1 commented on #451
@adutra I think this was where the check got accidentally removed/reverted: https://github.com/datastax/dsbulk/pull/432/commits/795d96e0fbb9dddef0814dd0d6e5de9752a8648b#diff-f1cbdde11c8882f0716f29733453909f71bc2515b77b0e26711aac96367e294a

[2022-09-09 22:52] kumar-nosql opened #453 "Can't find class software.aws.mcs.auth.SigV4AuthProvider"
adutra Hi, I ran into similar issue as - https://github.com/datastax/dsbulk/issues/388#issuecomment-1143532717
It got fixed after I put all those dependencies you mentioned under the lib directory. However it was hard to find those dependencies (JARs). I found them at - https://jar-download.com/artifact-search/aws-sigv4-auth-cassandra-java-driver-plugin

This download is a zip file which contains

[2022-09-15 18:11] pidiaquez opened #454 "endless loop on initial connection, when connecting to Astra and one of the endpoints is mark as removed"
dsbulk 1.10.0 will fall into an endless loop when one of the contact points is not longer valid

command line:

dsbulk count -verbosity max -reportRate 1 -k keyspace -t table -b "/root/secure-connecttest-02.zip" -u username

IP 20.1.1.1  represents Public IP reachable

at the time of the event one Contact point was valid and the other Contact point was invalid.

only 2 contact points ( public IPs)

[2022-10-11 16:18] acscott commented on #389
In C* config I have: `# native_transport_max_frame_size_in_mb: 256`
but I had to use
`--driver.advanced.protocol.max-frame-length '513 MiB'` for dsbulk on the command line.  It doesn't work setting it in `dsbulk.conf`.
The error I was getting was: `Caused by: com.datastax.oss.driver.api.core.connection.FrameTooLongException: Adjusted frame length exceeds 268435456: 268880055 - discarded` which add

[2022-10-13 20:59] acscott opened #455 "Small modification to concatentate two fields"
Thank you for a really powerful, fast, product.
I was wanting to make a small modification for our purposes to concatenate two fields for the CSV output.

Say I wanted to concatenate the first and second field instead of delimiting them by `,`

I was thinking we could make this happen around this line: https://github.com/datastax/dsbulk/blob/fb1350127315c3a14b4862017c7435b35e2124a0/connectors/csv/

[2022-11-11 02:43] nhtha opened #456 "Can't get more results because the continuous query has failed already. Most likely this is because the query was cancelled"
Dear dsbulk team,
I have the following error when I use dsbulk 1.10 to unload data from DSE Analytics nodes:
"Can't get more results because the continuous query has failed already. Most likely this is because the query was cancelled."
Please help me to solve this.
Many thanks,
Ha Nguyen

2022-11-11 08:06:30 WARN  Replaying from checkpoint file: /data/ptdl_qlrr/logs/UNLOAD_20221111-074333-416813/c

[2022-11-11 09:16] nhtha commented on #456
Another error is: "ERROR Operation UNLOAD_20221111-085837-498980 interrupted, waiting for termination."

Replaying from checkpoint file: /data/ptdl_qlrr/logs/UNLOAD_20221111-080630-863209/checkpoint.csv.
Record metrics will reflect totals from the previous operation; other metrics won't be affected.
Only errors and rejected records generated by the current operation will be reported in its log fil

[2022-11-15 14:35] adutra commented on #455
Hi @acscott thanks for reaching out.

So far DSBulk has avoided transforming input data; iow it's an ETL without the T :-)

There has been requests to introduce the ability to transform data on-the-fly. However the code you pointed at would not be the right place to do that as this is happening inside a connector, which in this case is responsible solely for reading the input file and emitting rec

[2022-11-29 17:41] adutra opened #457 "Support URL files with up to millions of lines"
This came up while reviewing #399: some users are using giant urlfiles with millions of URLs inside.

This file size isn't how urlfiles were designed to work: indeed currently when a urlfile is parsed, all the parsed URL instances are stored in memory. See AbstractFileBasedConnector#loadURLs.

We should modify that method to return a Flux<URL> instead, and merge it with other fluxes.

┆Issue is sy